/*styles.css*/
body {
    background-image: url('./images/ingredients2.jpg');
    background-size: cover;
    font-family: "Ariel", sans-serif;
    display: block
  }
  
  .title {
    text-align: center;
    padding: 8px;
    border: 20px, #c1e1c1;
  }
  
  .button-image-container {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 8px;
    border: 4px #c1e1c1;
  }

  .button-image-container > * {
    padding: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: rgb(96 139 168 / 0.2);
    flex: 1 1 auto;
  }
  .button-image-container div {
    background-color: rgb(96 139 168 / 0.2);
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    align-content: center;
  }

  .button {
    background: rgb(255, 255, 255);
    border: 1px solid #c1e1c1;
    display: flex;
    margin: 0 auto;
    padding: 8px 24px;
  }
  
  img {
    display: block;
    margin: auto;
  }
  ]